ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    
  }
  li {
    float:left;
    background-color:rgb(23, 30, 36);
    padding-top:2px;
    padding-left: 5px;
    padding-right: 5px;   
    margin:5px;
    border-radius: 10px; 
    text-align: center;
    margin-left: 15px;
  }
/* .ul li a:hover{
      color:salmon;
  } */
  li a:hover{
    color: thistle;
  }

  .active{
    background-color: white;
  }

  .active a{
    color: black;
  } 